@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@media only screen and (max-width: 1280px) {
  .padding-x {
    padding: 0 2rem ;
   }
   .margin-x{
    margin:0 2rem;
   }
}
.paragraph-style{
  font-weight: 100; color:white; font-size: 15px ; line-height: 1.6;
  max-width:350px;

}
.flex-center {
  display:flex;
  align-items: center
}
.selector:hover {
	background-color: blue;
}

.black-gradient:hover{
  background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
backdrop-filter: blur(5px);
}
.text-gradient{
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header2-style{
  font-size:40px;
}
